/* Стили для продуктов */
.products {
    min-height: 350px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
    border-radius: 10px;
    box-shadow: inset 0px 0px 0px 1px rgb(229 229 229);
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 400px));
    justify-items: center;
    gap: 20px;
}

@media (max-width: 1024px) {
    .products {
        grid-template-columns: repeat(3, minmax(auto, 400px));
    }
}

@media (max-width: 768px) {
    .products {
        grid-template-columns: repeat(2, minmax(auto, 400px));
    }
}

@media (max-width: 425px) {
    .products {
        grid-template-columns: repeat(1, minmax(auto, 400px));
    }
}

p.product-name-text {
    padding: 0;
    margin-bottom: 10px;
}

.product-card, .product-card-almost-empty {
    background: #ffffff;
    padding: 0;
    min-height: 370px;
    height: 370px;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(229 229 229);
    transition: 0.2s all ease-in-out;
}

.product-card:hover {
    transition: 0.2s all ease-in-out;
    box-shadow: 3px 5px 14px 5px rgb(4 4 4 / 10%);
}

.product-card img, .product-card-almost-empty img {
    width: 178px;
    height: 178px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
.product-card img-block span, .product-card-almost-empty img-block span {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.product-price-block, .product-price-block-added {
    z-index: 10;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-price-text-added {
    background: linear-gradient(#ffffff, rgba(209, 255, 236, 0.8));
}

.product-price-block .info, .product-price-block-added .info {
    width: 70%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.product-price-block-left span {
    margin: 0;
    font-size: 32px;
    color: #2bd599;
    transform: rotate(90deg);
}

.product-price-block-left {
    width: 45px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.product-price-block-right {
    width: 135px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.product-price-block-right p.price {
    width: fit-content;
    color: #2b97d5;
    font-size: 20px;
    margin: 0px;
}
.product-price-block-right p.amount {
    width: fit-content;
    font-size: 12px;
    margin: 0px;
}
.product-card .buy-button {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background: #fff7d8;
    cursor: pointer;
}

.buy-button-inc {
    display: none;
    width: 80%;
    justify-content: space-between;
    padding: 4px 30px;
    background: #fff7d8;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.button-setcount {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.button-setcount:hover {
    background: rgba(0, 0, 0, 0.2);
}

.count {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    justify-content: center;
}

a.product-price-text {
    display: flex;
    width: 140%;
    height: 230%;
    text-decoration: NONE;
    color: #4f3551;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.buy-button:hover {
    box-shadow: 0px 0px 0px 1px rgb(229 229 229);
    transition: 0.2s all ease-in-out;
}