* {
    box-sizing: border-box;
    /*max-width: 300px;*/
}


html {
    height: 100vh;
}


/* задний фон */
body {
    min-height: 100vh;
    display: block;
    background: linear-gradient(-30deg, #f8f8f8, #fdfdfd);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in; /* Плавное появление элементов */
    /*background: linear-gradient(-30deg, #2f2c2c, #2d312f);*/
}

/* Стили для показа элементов после загрузки страницы */
body.loaded {
    min-height: 100vh;
    opacity: 1;
    transition: opacity 0.2s ease-in;

}




/* Стили для скрытия анимации загрузки после загрузки страницы */
.loading-overlay {
    opacity: 0;
    transition: opacity 0.5s ease-out; /* Плавное исчезновение элементов */
}

html, body {
    min-height: 100%;
    height: fit-content(20em);
}



/* Стили для фильтра по категориям и товарам */
main {
    position: relative;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}


/* main.right-side */
.content-right, .content-top, .content-bottom  {
    position: relative;
    width: 100%
}


/* main.left-side */
.content-left {
    position: relative;
    top: 122px;
}

/* Стили для фильтра по категориям и товарам */
#filter {
    float: left;
}

#filter h2 {
    margin-top: 0;
}


a {
    text-decoration: NONE;
    color: #4f3551
}

.error {
    font-size: 14px;
    font-weight: 400;
    color: red;
}



@media (max-width: 768px) {
    body.loaded {
        padding-top: 15px;
    }

    .content {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    .content-right, .content-top, .content-bottom {
        top: 0;
        padding-top: 0;
    }
}