<!DOCTYPE html>
<html>
<head>
    <title>Об Организации</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/about.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.index')}}">Главная</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.about')}}">О Нас / связаться с нами</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.delivery')}}">Доставка</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.cart', error_description=None)}}">Корзина</a>
            </li>
            <li class="nav-li">
                {% if login %}
                <a class="nav-a" href="{{url_for('main_page.profile')}}">Кабинет</a>
                {% else %}
                <a class="nav-a" href="{{url_for('main_page.login')}}">Войти</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>


<main>
    <h1>Страница не найдена</h1>
    <p>Добро пожаловать в интернет-магазин "Сантехника и электрика"! Мы предлагаем широкий ассортимент качественной сантехники и электротоваров для вашего дома.</p>
    <p>К сожалению Вы как-то зашли на страницу, которой не существует.</p>
    <p>Просим вернуться на главную страницу и выбирать из предложенного списка категорий и товаров!</p>
    <p><span class="highlight">Спасибо :)</span>.</p>
    <a class="highlight" href="{{url_for('main_page.index')}}">Главная страница</a>
</main>


<footer>
    <div class="footer" style="height: 200px;"></div>
</footer>
</body>
</html>