{% extends "base.html" %}

{% block title %}Страница не найдена{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/about.css') }}">
    {% endblock %}
    {% block jsImports %}{% endblock %}
    {{ super() }}
{% endblock %}



{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<main>
    <h1>Страница не найдена</h1>
    <p>Добро пожаловать в интернет-магазин "Сантехника и электрика"! Мы предлагаем широкий ассортимент качественной сантехники и электротоваров для вашего дома.</p>
    <p>К сожалению Вы как-то зашли на страницу, которой не существует.</p>
    <p>Просим вернуться на главную страницу и выбирать из предложенного списка категорий и товаров!</p>
    <p><span class="highlight">Спасибо :)</span>.</p>
    <a class="highlight" href="{{url_for('main_page.index')}}">Главная страница</a>
</main>
{% endblock %}

{% block footer %}
{% endblock %}