{% extends "base.html" %}

{% block title %}Произошла ошибка{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/about.css') }}">    {% endblock %}
    {% block jsImports %}{% endblock %}
    {{ super() }}
{% endblock %}



{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<main>
  <h1>Произошла ошибка</h1>
  <p>К сожалению произошла непредвиденная ошибка. Мы уже работаем над этим</p>
  <p>Просим вернуться на главную страницу</p>
  <p><span class="highlight">Спасибо :)</span>.</p>
  <a class="highlight" href="{{url_for('main_page.index')}}">Главная страница</a>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
