{% extends "base.html" %}

{% block title %}Об Организации{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/about.css') }}">
    {% endblock %}
    {% block jsImports %}{% endblock %}
    {{ super() }}
{% endblock %}

{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<main>
    <h1>О Нас</h1>
    <p>Добро пожаловать в интернет-магазин "Сантехника и электрика"! Мы предлагаем широкий ассортимент качественной сантехники и электротоваров для вашего дома.</p>
    <p>Наша компания занимается поставкой товаров только от проверенных производителей, чтобы обеспечить высокое качество и надежность каждого продукта.</p>
    <p>Мы гордимся тем, что наши клиенты получают только лучшие товары и отличное обслуживание. Наша команда с радостью поможет вам выбрать и приобрести необходимые товары.</p>
    <p>Мы стремимся предложить нашим клиентам максимальное удобство при покупках, поэтому мы предоставляем быструю доставку и удобные способы оплаты.</p>
    <p>Если у вас возникнут вопросы или вам понадобится помощь, <span class="highlight">наша служба поддержки всегда готова ответить на ваши вопросы и предоставить необходимую информацию</span>.</p>
    <p class="thank-you">Спасибо, что выбрали нас! Мы надеемся, что ваши покупки у нас принесут вам полную удовлетворенность и удовольствие.</p>
</main>
{% endblock %}

{% block footer %}{% endblock %}