<!DOCTYPE html>
<html>
<head>
    <title>Категория: {{ category_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cart.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script>
        {% if error_description %}
            alert('{{error_description}}');
        {% endif %}
        {% if clear_cookie %}
            document.cookie = 'formData={}; path=/';
            window.location.href = "/cart"
        {% endif %}
    </script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('index')}}">Главная</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('about')}}">О Нас / связаться с нами</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('delivery')}}">Доставка</a>
            </li>
            <li class="nav-li-active">
                <a class="nav-a" href="{{url_for('cart', error_description=None)}}">Корзина</a>
            </li>
            <li class="nav-li">
                {% if login %}
                <a class="nav-a" href="{{url_for('profile')}}">Кабинет</a>
                {% else %}
                <a class="nav-a" href="{{url_for('login')}}">Войти</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
<main>
    <div class="content">
        <div class="content-right">
            <div class="search-block">
                <div class="search-container">
                    <input type="text" class="search-text" name="search-text" id="search-text"
                 placeholder="Тут рыбы нет! Остальное есть. Нюхай-нюхай, ищи-ищи"
                 autocomplete="on" onkeypress="runFunction(event)" onkeyup="searchHelper()">
                </div>
                <div id="searchResults"></div>
            </div>
            {% if products %}
            <div class="card-items">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Наименование</th>
                        <th>Цена</th>
                        <th>Добавить Удалить</th>
                        <th>Всего</th>
                        <th>Общая цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr class="card-{{product.id}}">
                        <td class="remove-item">
                            <span class="material-icons" onclick="removeAll({{product.id}})" style="color: red;">close</span>
                        </td>
                        <td class="image-block-mini">
                            {% if product.image != '' %}
                            <img src="{{product.image_path}}" alt="{{product.name}}"/>
                            {% else %}
                            <span class="material-icons">inventory</span>
                            {% endif %}
                        </td>
                        <td class="product-name-cell">
                            <a class="product-name"
                               href="{{ url_for('product', product_name=product.name, product_id=product.id) }}">{{product.name}}</a>
                            <p class="product-description">{{ product.description }}</p>
                        </td>
                        <td class="product-price-cell">
                            <p class="product-price-value">{{ product.price }} р.</p>
                        </td>
                        <td class="product-buttons-cell">
                            <input type="button" class="add-to-card"
                                   onclick="addToCart({{product.id}}, {{product.price}}, {{product.amount}})"
                                   value="+">
                            <input type="button" class="remove-from-card-button"
                                   onclick="removeFromCard({{product.id}})"
                                   value="-">
                        </td>
                        <td class="product-amount-cell">
                            <p class="amount-in-cart">{{ product.in_card }}</p>
                        </td>
                        <td class="product-sum-cell">
                            <p class="sum-item-price">{{ product.in_card * product.price }} р.</p>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <div class="cart-total">
                    <div class="total">
                        <p class="sum-card-price"> Общая сумма заказа: {{order.sum}} р. </p>
                        <a href="{{url_for('cart_clear')}}">Очистить корзину?</a>
                    </div>
                </div>

            </div>
            {% else %}
            <div class="empty-cart">
                <h4>Корзина пуста</h4>
                <a class="to-main-page" href="{{ url_for('index')}}">Перейти к покупкам</a>
            </div>
            {% endif %}
            {% if products %}
            <div class="confirm-order">
                <h4 class="confirm-order-h">
                    Подтверждение заказа
                </h4>
                <form method="post" class="submit-form" onsubmit="alert_confirm()">
                    <div class="confirm-description-block">
                        <p class="confirm description">Введите номер телефона для подтверждения заказа. Мы Вам
                            перезвоним в
                            ближайшее время.</p>
                        <p class="confirm description">При получении заказа при себе необходимо иметь паспорт и
                            телефон</p>
                    </div>
                    <div class="input-fields">
                        <div class="phone">
                            <p>Номер телефона: </p>
                            {% if login %}
                            <input class="submit-input" type="tel" id="phone_user" name="phone_user" placeholder="+79992223131"
                                   pattern="(+7)[0-9]{10}" autocomplete="on" enterkeyhint="next"
                                   maxlength="12" minlength="12" required value="{{user_info.phone}}">
                            {% else %}
                            <input class="submit-input" type="tel" id="phone" name="phone" placeholder="+79992223131"
                                   pattern="(+7)[0-9]{10}" autocomplete="on" enterkeyhint="next"
                                   maxlength="12" minlength="12" value="+7" required>
                            {% endif %}
                        </div>
                        <div class="full_name">
                            <p>ФИО:</p>
                            {% if login %}
                            <input class="submit-input" type="text" id="full_name_user" name="full_name_user"
                                   placeholder="Иванов Иван Иванович" maxlength="50" enterkeyhint="next" required value="{{user_info.fio}}">
                            {% else %}
                            <input class="submit-input" type="text" id="full_name" name="full_name"
                                   placeholder="Иванов Иван Иванович" maxlength="50" enterkeyhint="next" value="+7"
                                   required>
                            {% endif %}
                        </div>
                    </div>
                    <div class="input-fields">
                        <div class="order_place">
                            <p>Адрес доставки:</p>
                            {% if login and address_list %}
                            <div>
                                <input class="submit-input" type="text" list="userAddresses" id="order_place_user"
                                       name="order_place_user" onkeyup="showSuggestions()"
                                       placeholder="Адрес доставки" value="{{ address_list[0].address }}" maxlength="150">
                                <datalist id="userAddresses">
                                  {% for row in address_list %}
                                    <option value="{{ row.address }}">
                                  {% endfor %}
                                </datalist>
                            </div>
                            {% else %}
                            <input class="submit-input" type="text" id="order_place" name="order_place"
                                   placeholder="Адрес" autocomplete="street-address" enterkeyhint="next" required maxlength="150">
                            {% endif %}
                        </div>
                        <div class="order_date">
                            <p>Дата доставки:</p>
                            <input class="submit-input" type="date" id="order_time" name="order_time"
                                   placeholder="Дата доставки" enterkeyhint="done" required>
                            <script>
                                let order_date = document.querySelector('#order_time');
                                var d = new Date();
                                d.setDate(d.getDate() + 2);
                                order_date.min = d.toISOString().split("T")[0];
                                order_date.value = d.toISOString().split("T")[0];
                            </script>
                        </div>
                    </div>
                    <div class="order_sum">
                        <p>Сумма заказа: {{ order.sum }} рублей</p>
                    </div>
                    <div class="submit">
                        <input class="submit-input-confirm" type="submit" onclick="saveFormData()"
                               value="Подтвердить заказ">
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</main>
<footer>
    <div class="footer" style="height: 200px;"></div>
</footer>
</body>
</html>
