{% extends "base.html" %}

{% block title %}Доставка{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/about.css') }}">
    {% endblock %}
    {% block jsImports %}{% endblock %}
    {{ super() }}
{% endblock %}



{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<main>
    <h1>Доставка</h1>
    <p>Мы предлагаем удобные условия доставки товаров в нашем интернет-магазине "Сантехника и электрика".</p>
    <p>Наши заказы доставляются в течение 2-5 рабочих дней после подтверждения заказа.</p>
    <p>Мы предоставляем доставку на всей территории города. Если вы находитесь за пределами города, свяжитесь с нами, чтобы обсудить возможность доставки.</p>
    <p>Стоимость доставки зависит от веса и объема товаров, а также от вашего местоположения.</p>
    <ul>
        <li>До 20кг в пределах МКАД - бесплатно</li>
        <li>Дальше МКАД - 10 руб\км</li>
        <li>Более 20кг  - 10 руб\кг</li>
        <li>Вышеперечисленные пункты складываются</li>
    </ul>
    <p>Мы также предоставляем возможность самовывоза из нашего магазина. Этот вариант доступен в форме заказа или его можно изменить при подтверждении заказа с оператором</p>
    <p>Если у вас возникнут вопросы по доставке или вы нуждаетесь в консультации, пожалуйста, свяжитесь с нами по указанным контактным данным в разделе <a href="{{url_for('main_page.about')}}" class="highlight">О Нас / связаться с нами</a></p>
</main>
{% endblock %}

{% block footer %}
{% endblock %}