<!DOCTYPE html>
<html>
<head>
  <title>Магазин сантехники</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/nav.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/main_page.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/product-cart.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</head>
<body>
<div class="top-panel">
  <nav class="nav-bar">
    <ul class="nav-ul">
      <li class="nav-li-active">
        <a class="nav-a" href="{{url_for('main_page.index')}}">Главная</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('main_page.about')}}">О Нас / связаться с нами</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('main_page.delivery')}}">Доставка</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('main_page.cart', error_description=None)}}">Корзина</a>
      </li>
      <li class="nav-li">
        {% if login %}
        <a class="nav-a" href="{{url_for('main_page.profile')}}">Кабинет</a>
        {% else %}
        <a class="nav-a" href="{{url_for('main_page.login')}}">Войти</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>


<main>

  <div class="content">
    <div class="content-top">
      <div class="search-block">
        <div class="search-container">
          <input type="text" class="search-text" name="search-text" id="search-text"
                 placeholder="Тут рыбы нет! Остальное есть. Нюхай-нюхай, ищи-ищи"
                 autocomplete="on" onkeypress="runFunction(event)" onkeyup="searchHelper()">
          <div id="searchResults">

          </div>
        </div>
      </div>
      <div class="block-name">
        <h3>Категории</h3>
      </div>
      <div class="categories">
        {% for category in categories %}
        <div class="category-block">
          <a class="category-href" href="{{ url_for('main_page.category', category_name=category.name) }}">
            <div class="category-card-main">
              {% if category.image_path == '../static/images/categories/categories-blank.png' %}
              <div class="img-main">
                <span class="material-icons">list</span>
              </div>
              {% else %}
              <div class="img-main">
                <img src="{{ category.image_path }}" alt="{{category.name}}"/>
              </div>
              {% endif %}
              <p class="category-name">{{ category.name}}</p>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="content-bottom">
      <div class="top-sells">
        <div class="block-name">
          <h3>Лучшие товары</h3>
        </div>
        <div class="products">
          {% for product in products %}
          <div class="product-card">
            {% if product.image_path == '' %}
            <div class="img-block">
              <span class="material-icons">qr_code_2</span>
            </div>
            {% else %}
            <div class="img-block">
              <img src="{{ product.image_path }}" alt="{{product.name}}"/>
            </div>
            {% endif %}
            <div class="product-name-block">
              <p class="product-name-text">{{ product.name }}</p>
            </div>
            {% if product.in_card %}
            <div class="product-price-block-added">
              <div class="info">
                <div class="product-price-block-left">
                  <span class="material-icons">local_offer</span>
                </div>
                <div class="product-price-block-right">
                  <p class="price"> за {{ product.price }} р.</p>
                  <p class="amount">В наличии {{ product.amount }} шт.</p>
                </div>
              </div>
            </div>
            <div class="buy-button">
              <a class="product-price-text"
                 href="{{ url_for('main_page.product', product_name=product.name, product_id=product.id) }}">Купить</a>
            </div>
            {% else %}
            <div class="product-price-block">
              <div class="info">
                <div class="product-price-block-left">
                  <span class="material-icons local-offer">local_offer</span>
                </div>
                <div class="product-price-block-right">
                  <p class="price"> {{ product.price }} р.</p>
                  <p class="amount">В наличии {{ product.amount }} шт.</p>
                </div>
              </div>
            </div>
            <div class="buy-button">
              <a class="product-price-text"
                 href="{{ url_for('main_page.product', product_name=product.name, product_id=product.id) }}">Купить</a>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="footer" style="height: 200px;"></div>
</footer>
</body>
</html>
