{% extends "base.html" %}

{% block title %}Войти в профиль{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/login.css') }}">
    {% endblock %}
    {% block jsImports %}{% endblock %}
    {{ super() }}
{% endblock %}

{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<div class="login-container">
    <h2>Вход в личный кабинет</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="error-messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form class="login-form" action="/login" method="post">
        <div class="inputs">
            <input type="text" name="username" minlength="5" maxlength="40" placeholder="Логин" required>
            <input type="password" name="password" placeholder="Пароль" required minlength="8" maxlength="50">
        </div>
        <p class="account">Нет аккаунта? <a href="{{url_for('main_page.register')}}">Регистрация</a></p>
        <p class="account">Забыли пароль? <a href="{{url_for('main_page.recover_password')}}">Восстановить</a></p>
        <button type="submit">Войти</button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}