<!DOCTYPE html>
<html>
<head>
    <title>Страница не готова</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('index')}}">Главная</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('about')}}">О Нас / связаться с нами</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('delivery')}}">Доставка</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('cart', error_description=None)}}">Корзина</a>
            </li>
            <li class="nav-li">
                {% if login %}
                <a class="nav-a" href="{{url_for('profile')}}">Кабинет</a>
                {% else %}
                <a class="nav-a" href="{{url_for('login')}}">Войти</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>


<main>
    <h1>Страница не готова</h1>
    <p>Добро пожаловать в интернет-магазин "Сантехника и электрика"! Мы предлагаем широкий ассортимент качественной сантехники и электротоваров для вашего дома.</p>
    <p>К сожалению Вы зашли на страницу, которая еще не готова.</p>
    <p>Просим вернуться на главную страницу и выбирать из предложенного списка категорий и товаров!</p>
    <p><span class="highlight">Спасибо :)</span>.</p>
    <a class="highlight" href="{{url_for('index')}}">Главная страница</a>
</main>

<footer>
    <div class="footer" style="height: 200px;"></div>
</footer>
</body>
</html>