{% extends "base.html" %}

{% block title %}Продукт: {{ product.name }}{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/reboot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/product.css') }}">

    {% endblock %}
    {% block jsImports %}
    <script defer src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/review.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/product.js') }}"></script>
    {% endblock %}
    {{ super() }}

<script >
    // Сохранение данных формы в cookies при отправке
    function addToCart() {
        var form = document.querySelector('.product-card');
        var formDataCookie = getCookie('formData');
        if (formDataCookie) {
            var formData = JSON.parse(formDataCookie);
            if ({{product.id}} in formData) {
                formData[{{product.id}}] += 1;
            } else {
                formData[{{product.id}}] = 1;
            }
        } else {
            var formData = {};
            formData[{{product.id}}] = 1;
        }
        if (formData[{{product.id}}] > {{product.amount}}) {
            formData[{{product.id}}] = {{product.amount}}}

        document.cookie = 'formData=' + JSON.stringify(formData) + '; path=/';
        console.log(document.cookie)

        check_buttons(formData)
    }

    function check_buttons(formData) {
        var buttons = document.querySelector('.product-operator-buttons');

        if (document.querySelector('.remove-from-card-button') == null) {
            // Create a new input element of type 'input' with type button
            var inputButton = document.createElement("input");

            // set params to button
            inputButton.type = "button";
            inputButton.value = "Убрать из корзины";
            inputButton.className = "remove-from-card-button";
            inputButton.addEventListener("click", removeFromCard);

            buttons.appendChild(inputButton);
        }
        if (document.querySelector('.go-to-card-button') == null) {
            // Create a new input element of type 'input' with type button
            var inputButton = document.createElement("input");

            // set params to button
            inputButton.type = "button";
            inputButton.value = "Перейти корзину";
            inputButton.className = "go-to-card-button";
            inputButton.addEventListener("click", goToCard);

            buttons.appendChild(inputButton);
        }
        addButton = document.querySelector('.add-to-card');
        let product_id = {{product.id}};
        addButton.value = "Добавить еще | уже " + formData[product_id.toString()];
    }

    function goToCard() {
        window.location.href = "/cart"
    }

    // Если есть сохраненные данные формы, заполнить форму при загрузке страницы
    window.onload = function () {
        var formDataCookie = getCookie('formData');
        if (!formDataCookie) {
            return
        }
        var formData = JSON.parse(formDataCookie);
        console.log('ID {{ product.id }} продукта в cookie? ' + {{product.id}} in formData);
        if ({{product.id}} in formData ) {
            check_buttons(formData)
        }
    }

    function removeFromCard() {
        var form = document.querySelector('.product-card');
        var remove_button = document.querySelector('.remove-from-card-button');
        var cart_button = document.querySelector('.go-to-card-button');
        var formDataCookie = getCookie('formData');
        if (formDataCookie) {
            var formData = JSON.parse(formDataCookie);
            console.log("ID {{ product.id }} продукта в cookie? " + {{product.id}} in formData);
            console.log(formData);
            if ({{product.id}} in formData) {
                let key = {{product.id}};
                addButton = form.querySelector('.add-to-card');
                if (formData[key.toString()] <= 1) {
                    delete formData[key.toString()];
                    remove_button.remove();
                    cart_button.remove();
                    addButton.value = "Добавить в корзину";
                } else {
                    console.log('удаляю 1 товар с id ' + key + ' из корзины')
                    formData[key.toString()] -= 1;
                    addButton.value = "Добавить еще | уже " + formData[key.toString()];
                }
            }
            document.cookie = 'formData=' + JSON.stringify(formData) + '; path=/';
            console.log(document.cookie);
        }
    }

    // Получаем ссылки на основное изображение и модальное окно
    const mainImage = document.querySelector('.main-image');
    const modal = document.getElementById('modal');

    // Назначаем обработчик клика на основное изображение
    mainImage.addEventListener('click', function () {
        // Получаем ссылку на увеличенное изображение
        const modalImage = document.getElementById('modal-image');
        modalImage.src = this.src;

        // Увеличиваем размер увеличенного изображения в 2 раза
        modalImage.style.width = (this.width * 2) + 'px';
        modalImage.style.height = (this.height * 2) + 'px';

        // Отображаем модальное окно
        modal.style.display = 'block';
    });

    // Назначаем обработчик клика на кнопку закрытия модального окна
    modal.querySelector('.close').addEventListener('click', function () {
        // Скрываем модальное окно
        modal.style.display = 'none';
    });

    // Назначаем обработчик клика на область вне увеличенного изображения, чтобы закрыть модальное окно при клике вне него
    window.addEventListener('click', function (event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        }
    });

</script>
{% endblock %}



{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<div class="container">
    <main>
        <div class="search-block">
            <div class="search-container">
              <input type="text" class="search-text" name="search-text" id="search-text"
                     placeholder="Тут рыбы нет! Остальное есть. Нюхай-нюхай, ищи-ищи"
                     autocomplete="on" onkeypress="runFunction(event)" onkeyup="searchHelper()">
              <div id="searchResults"></div>
            </div>
        </div>
        <div class="product">
            <div class="product-card">
                <div class="image-block">
                    <div class="image">
                        <img class="main-image" src="{{ product.image_path }}" alt="{{ product.name }}">
                        <!-- Модальное окно для увеличенного изображения -->
                        <div id="modal" class="modal">
                            <span class="close">&times;</span>
                            <img class="modal-content" id="modal-image" src="">
                        </div>
                    </div>
                    <div class="product-name">
                        <h5 class="name">Наименование: {{ product.name }}</h5>
                    </div>
                    <div class="product-operator-buttons">
                        <input type="button" class="add-to-card" role="button" onclick="addToCart()"
                               value="Добавить в корзину">
                    </div>
                </div>
                <div class="about-product">

                    <div class="router">
                        <div class="router-block">
                            <p>Категория: <a href="{{ url_for('main_page.category', category_name=category_name) }}">{{ category_name }}/ </a> {{ product.name }}</p>
                        </div>
                    </div>
                    <p class="product-name-p">Наименование: {{ product.name }}</p>

                    <p class="brand">Производитель:
                        <a class="brand-url" href="https://www.google.com/search?q={{ product.brand }}" target="_blank">{{ product.brand }}</a>
                    </p>

                    <p class="amount">Остаток: {{ product.amount }} шт.</p>

                    <div class="description">
                        <p class="description-title">Описание:</p>
                        <p class="description-data">{{ product.description }}</p>
                    </div>
                    <p class="price">Цена: {{ product.price }} р. </p>
                    <p class="order-type">Способ оплаты: Наличными при получении</p>
                </div>
            </div>
        </div>
         <div class="content-bottom">
            <h4>Может заинтересовать</h4>
                <div class="products">
                {% for product in interest_products %}
                    <div class="product-card">
                        {% if product.image_path == '' %}
                        <div class="img-block">
                            <span class="material-icons">qr_code_2</span>
                        </div>
                        {% else %}
                        <a href="{{ url_for('main_page.product', product_name=product.name, product_id=product.id) }}" class="img-block">
                          <img src="{{ product.image_path }}" alt="{{product.name}}"/>
                        </a>
                        {% endif %}
                        <div class="product-name-block">
                            <p class="product-name-text">{{ product.name }}</p>
                        </div>
                        {% if product.in_card %}
                        <div class="product-price-block-added">
                            <div class="info">
                                <div class="product-price-block-left">
                                    <span class="material-icons">local_offer</span>
                                </div>
                                <div class="product-price-block-right">
                                    <p class="price"> за {{ product.price }} р.</p>
                                    <p class="amount">В наличии {{ product.amount }} шт.</p>
                                </div>
                            </div>
                        </div>
                        <div class="buy-button">
                          <div class="product-price-text">Купить</div>
                        </div>
                        <div class="buy-button-inc" >
                            <div class="button-setcount dec">-</div>
                            <span class="count">1</span>
                            <div class="button-setcount inc">+</div>
                        </div>
                        {% else %}
                        <div class="product-price-block">
                            <div class="info">
                                <div class="product-price-block-left">
                                    <span class="material-icons local-offer">local_offer</span>
                                </div>
                                <div class="product-price-block-right">
                                    <p class="price"> {{ product.price }} р.</p>
                                    <p class="amount">В наличии {{ product.amount }} шт.</p>
                                </div>
                            </div>

                        </div>
                        <div class="buy-button">
                          <div class="product-price-text">Купить</div>
                        </div>
                        <div class="buy-button-inc" >
                            <div class="button-setcount dec">-</div>
                            <span class="count">1</span>
                            <div class="button-setcount inc">+</div>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="reviews">
            <div class="review-block">
                {% if login %}
                <div class="new-review">
                    <form id="reviewForm">
                        <textarea id="reviewText" name="review_text" placeholder="Будем рады получить от Вас отзыв :)"></textarea>
                        <br>
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5"/><label for="star5"
                                                                                           title="5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4"/><label for="star4"
                                                                                           title="4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3"/><label for="star3"
                                                                                           title="3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2"/><label for="star2"
                                                                                           title="2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1"/><label for="star1"
                                                                                           title="1 star"></label>
                        </div>
                        <br>
                        <input type="button" class="new-review-button" maxlength="4096" value="Отправить отзыв" onclick="addNewReview({{ user.id }}, {{ product.id }})">
                    </form>

                    <div id="notification"
                         style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #f2f2f2; padding: 20px; box-shadow: 0 0 10px 2px #aaa;"></div>
                </div>
                {% endif %}
                <div class="reviewsContainer" id="reviewsContainer"></div>
            </div>
        </div>
    </main>
</div>
{% endblock %}



{% block footer %}
{% endblock %}
