<!DOCTYPE html>
<html>
<head>
    <title>Просмотр заказа</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('index')}}">Главная</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('about')}}">О Нас / связаться с нами</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('delivery')}}">Доставка</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('cart', error_description=None)}}">Корзина</a>
            </li>
            <li class="nav-li-active">
                {% if login %}
                <a class="nav-a" href="{{url_for('profile')}}">Кабинет</a>
                {% else %}
                <a class="nav-a" href="{{url_for('login')}}">Войти</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>


<main>
    <h5>Личный кабинет</h5>
    <a class="nav-a" href="{{url_for('logout')}}">Выйти</a>

</main>

<footer>
    <div class="footer" style="height: 200px;"></div>
</footer>
</body>
</html>