{% extends "base.html" %}

{% block title %}Профиль: {{user_info.fio}}{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/reboot.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/profile.css') }}">
    {% endblock %}
    {% block jsImports %}{% endblock %}
    {{ super() }}
{% endblock %}

{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<div class="container">
    <main>
    <h2>Личный кабинет | <span>{{ user_info.fio }}</span></h2>

    <div class="error">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="error-messages">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>


    <div class="two-boxes">
        <div class="content-left">
            <div class="title">
                <h4>О пользователе</h4>
            </div>
            <div class="user-info">
                <label for="login">Логин</label>
                <input type="text" name="login" id="login" value="{{user_info.login}}" readonly>

                <label for="fio">ФИО</label>
                <input type="text" name="fio" id="fio" value="{{user_info.fio}}" readonly>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="{{user_info.email}}" readonly>

                <label for="tel">Телефон</label>
                <input type="tel" name="tel" id="tel" value="{{user_info.phone}}" readonly>

                <a href="{{url_for('main_page.recover_password')}}">Сбросить пароль</a>
                <a class="nav-a" href="{{url_for('main_page.logout')}}">Выйти</a>
<!--                <a href="#">Сменить номер телефона</a>-->
            </div>
        </div>
        <div class="content-right">
            <div class="title">
                <h4>Адреса доставки</h4>
            </div>
            <div class="address-info">
                {% if addresses %}
                <div class="info">
                    <table>
                        <thead>
                        <th style="width: 40px;">id</th>
                        <th style="width: 450px;">Адрес</th>
                        </thead>
                        <tbody>
                        {% for address in addresses %}
                        <tr>
                            <td style="width: 40px;">{{address.id}}</td>
                            <td style="width: 400px;">{{address.address}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="no-info">
                    <p>Адреса заказов будут добавлены после первого заказа</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="content-bottom">
        <div class="title">
            <h4>О заказах</h4>
        </div>
        <div class="order-info">
            {% if orders %}
            <div class="info">
                <table>
                    <thead>
                    <th style="width: 40px;">id</th>
                    <th style="">Адрес</th>
                    <th style="">Дата</th>
                    <th style="">Статус</th>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td style="width: 40px;">
                            <a href="{{url_for('main_page.profile_order_details', order_id=order.order_id)}}">{{order.order_id}}</a></td>
                        <td style=""><p>{{order.address}}</p></td>
                        <td style=""><p>{{order.datetime[:10]}}</p></td>
                        <td style=""><p>{{order.name}}</p></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="no-info">
                <p>На текущий момент заказов нет</p>
            </div>
            {% endif %}
        </div>
    </div>
</main>
</div>
{% endblock %}

{% block footer %}{% endblock %}