<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/login.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.index')}}">Главная</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.about')}}">О Нас / связаться с нами</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.delivery')}}">Доставка</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('main_page.cart', error_description=None)}}">Корзина</a>
            </li>
            <li class="nav-li-active">
                {% if login %}
                <a class="nav-a" href="{{url_for('main_page.profile')}}">Кабинет</a>
                {% else %}
                <a class="nav-a" href="{{url_for('main_page.login')}}">Войти</a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>
<div class="login-container">
    <h2>Восстановление пароля</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="error-messages">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form class="login-form" action="/recover_password" method="post">
        <div class="inputs">
            <input type="email" name="email" maxlength="50" placeholder="Почта" required>
        </div>
        <p class="account">Нет аккаунта? <a href="{{url_for('main_page.register')}}">Регистрация</a></p>
        <p class="account">Ecть аккаунт? <a href="{{url_for('main_page.login')}}">Войти</a></p>
        <button type="submit">Запросить смену пароля</button>
    </form>
</div>
</body>
</html>