<!DOCTYPE html>
<html>
<head>
  <title>Поиск по запросу: {{ user_request }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/category.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
<div class="top-panel">
  <nav class="nav-bar">

    <ul class="nav-ul">
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('index')}}">Главная</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('about')}}">О Нас / связаться с нами</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('delivery')}}">Доставка</a>
      </li>
      <li class="nav-li">
        <a class="nav-a" href="{{url_for('cart', error_description=None)}}">Корзина</a>
      </li>
      <li class="nav-li">
        {% if login %}
        <a class="nav-a" href="{{url_for('profile')}}">Кабинет</a>
        {% else %}
        <a class="nav-a" href="{{url_for('login')}}">Войти</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</div>


<main>
  <div class="content">
    <div class="content-right">

      <div class="search-block">
        <div class="search-container">
          <input type="text" class="search-text" name="search-text" id="search-text"
                 placeholder="Тут рыбы нет! Остальное есть. Нюхай-нюхай, ищи-ищи"
                 autocomplete="on" onkeypress="runFunction(event)">
        </div>
      </div>

      {% if categories or products %}
      {% if products %}
      <h2>Товары</h2>
      <div class="products">
        {% for product in products %}
        <a class="product-href" href="{{ url_for('product', product_name=product.p_name, product_id=product.p_id) }}">
          {% if product.p_amount >= 5 %}
          <div class="product-card">
            {% if product.p_image_path == '' %}
            <div class="img">
              <span class="material-icons">qr_code_2</span>
            </div>
            {% else %}
            <div class="img">
              <img src="{{ product.p_image_path }}" alt="{{product.p_name}}"/>
            </div>
            {% endif %}
            <div class="product-name">
              <p class="">{{ product.p_name }}</p>
            </div>
<!--            {% if product.in_card %}-->
<!--            <div class="product-price-added">-->
<!--              <p class="">{{ product.p_price }} р.</p>-->
<!--            </div>-->
<!--            {% else %}-->
            <div class="product-price">
              <p class="">{{ product.p_price }} р.</p>
            </div>
            {% endif %}
          </div>
          {% elif 0 < product.p_amount < 5 %}
          <div class="product-card-almost-empty">
            {% if product.p_image_path == '' %}
            <div class="img">
              <span class="material-icons">qr_code_2</span>
            </div>
            {% else %}
            <div class="img">
              <img src="{{ product.p_image_path }}" alt="{{product.p_name}}"/>
            </div>
            {% endif %}
            <div class="product-name">
              <p class="">{{ product.p_name }}</p>
            </div>
<!--            {% if product.in_card %}-->
<!--            <div class="product-price-added">-->
<!--              <p class="">{{ product.p_price }} р.</p>-->
<!--            </div>-->
<!--            {% else %}-->
            <div class="product-price">
              <p class="">{{ product.p_price }} р.</p>
            </div>
            {% endif %}
          </div>
          {% endif %}
          {% endfor %}
        </a>
      </div>
      {% endif %}
      {% if categories %}
      <h2>Категории</h2>
      <div class="categories">
        {% for category in categories %}
        <a class="category-href" href="{{ url_for('category', category_name=category.c_name) }}">
          <div class="category-card">
            {% if category.c_image_path == '' %}
            <div class="img">
              <span class="material-icons">list</span>
            </div>
            {% else %}
            <div class="img">
              <img src="{{ category.c_image_path }}" alt="{{category.c_name}}"/>
            </div>
            {% endif %}
            <p class="category-name">{{ category.c_name}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      {% else %}
      <div class="categories">
        <div class="no-category">
          <div class="h-tag">
            <h5 class="aljbgl">Тут пока ничего нет</h5>
            <p>По запросу: <span class="highlight">{{ user_request }}</span> не удалось ничего найти.</p>
            <a class="highlight" href="{{url_for('index')}}">Главная страница</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</main>

<footer>
  <div class="footer" style="height: 200px;"></div>
</footer>
</body>
</html>