{% extends "base.html" %}

{% block title %}Поиск по запросу: {{ user_request }}{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/category.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/product-cart.css') }}">
    {% endblock %}
    {% block jsImports %}
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    {% endblock %}
    {{ super() }}
{% endblock %}

{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<main>
  <div class="content">
    <div class="content-right">

      <div class="search-block">
        <div class="search-container">
          <input type="text" class="search-text" name="search-text" id="search-text"
                 placeholder="Тут рыбы нет! Остальное есть. Нюхай-нюхай, ищи-ищи"
                 autocomplete="on" onkeypress="runFunction(event)" onkeyup="searchHelper()">
          <div id="searchResults"></div>
        </div>
      </div>

      {% if categories or products %}
      {% if products %}
      <h2>Товары</h2>
      <div class="products">
        {% for product in products %}
        <div class="product-card">
          {% if product.image_path == '' %}
          <div class="img-block">
            <span class="material-icons">qr_code_2</span>
          </div>
          {% else %}
          <div class="img-block">
            <img src="{{ product.image_path }}" alt="{{product.name}}"/>
          </div>
          {% endif %}
          <div class="product-name-block">
            <p class="product-name-text">{{ product.name }}</p>
          </div>
          {% if product.in_card %}
          <div class="product-price-block-added">
            <div class="info">
              <div class="product-price-block-left">
                <span class="material-icons">local_offer</span>
              </div>
              <div class="product-price-block-right">
                <p class="price"> за {{ product.price }} р.</p>
                <p class="amount">В наличии {{ product.amount }} шт.</p>
              </div>
            </div>
          </div>
          <div class="buy-button">
            <a class="product-price-text"
               href="{{ url_for('main_page.product', product_name=product.name, product_id=product.id) }}">Купить</a>
          </div>
          {% else %}
          <div class="product-price-block">
            <div class="info">
              <div class="product-price-block-left">
                <span class="material-icons local-offer">local_offer</span>
              </div>
              <div class="product-price-block-right">
                <p class="price"> {{ product.price }} р.</p>
                <p class="amount">В наличии {{ product.amount }} шт.</p>
              </div>
            </div>
          </div>
          <div class="buy-button">
            <a class="product-price-text"
               href="{{ url_for('main_page.product', product_name=product.name, product_id=product.id) }}">Купить</a>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% if categories %}
      <h2>Категории</h2>
      <div class="categories">
        {% for category in categories %}
        <a class="category-href" href="{{ url_for('main_page.category', category_name=category.c_name) }}">
          <div class="category-card">
            {% if category.c_image_path == '' %}
            <div class="img">
              <span class="material-icons">list</span>
            </div>
            {% else %}
            <div class="img">
              <img src="{{ category.c_image_path }}" alt="{{category.c_name}}"/>
            </div>
            {% endif %}
            <p class="category-name">{{ category.c_name}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
      {% endif %}
      {% else %}
      <div class="categories">
        <div class="no-category">
          <div class="h-tag">
            <h5 class="aljbgl">Тут пока ничего нет</h5>
            <p>По запросу: <span class="highlight">{{ user_request }}</span> не удалось ничего найти.</p>
            <a class="highlight" href="{{url_for('main_page.index')}}">Главная страница</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}