{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block head %}
    {% block cssImports %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pages/login.css') }}">
    {% endblock %}
    {% block jsImports %}{% endblock %}
    {{ super() }}
{% endblock %}

{% block topPanel %}
    {{ super() }}
{% endblock %}

{% block main %}
<main>
    <div class="login-container">
        <h2>Смена пароля</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class="error-messages">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form class="login-form" method="post">
            <div class="inputs">
                <input type="password" name="password" placeholder="Новый пароль" maxlength="40" minlength="8" required>
            </div>
            <button type="submit">Сменить пароль</button>
        </form>
    </div>
</main>
{% endblock %}

{% block footer %}{% endblock %}