.login-form button {
    background-color: #4c99af;
}


.login-form button:hover {
    background-color: #4c8faf;
}

.login-form button:disabled,
.login-form button[disabled]{
  background-color: #74a0ad;
}

.error {
    font-size: 10px;
    font-weight: 400;
    color: red;
}

.error-message {
    color: red;
    font-size: 0.8em;
    display: none;
    margin-top: -10px;
    margin-bottom: 15px;
    max-width: 290px;
    width: 100%;
}

.invalid-input {
  border: 1px solid red;
}

.password-strength {
    height: 4px;
    margin-top: -18px;
    max-width: 298px;
    width: 100%;
    border-radius: 10px;
}

div#passwordError {
    margin-top: 10px;
}

input[type='text']:focus-visible {
    outline: none;
}
