/* Добавляем стиль для анимации плавного появления */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Добавляем стиль для анимации плавного появления */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* Стили для блока поиска */

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.search-text {
    width: 80%;
    height: 20px;

    border: 1px solid #e3e3e3;
    border-radius: 15px;

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

    box-shadow: 0px 6px 10px 2px rgb(229 229 229 / 0.5);
    padding: 10px;
    text-align: center;
    outline: None;
}
.search-text:focus {
    border: 1px solid #e3e3e3;
    transition: ease-in-out all 0.5s;
}
.search-text:active {
    border: 1px solid #e3e3e3;
    transition: ease-in-out all 0.5s;
}

.search-block {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
}


/* CSS button add */
input[type='button'].add-to-card, input[type='button'].go-to-card-button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  z-index: 20;
}

input[type='text']:hover {
  background-color: #b8c1be2e;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

input[type='text']:active {
  transform: translateY(2px);
  border: 0;
  transition-duration: .35s;
}

input[type='text']:hover {
  box-shadow: rgb(215 215 215 / 98%) 0 6px 12px;
}

/* Добавляем стиль для анимации плавного появления */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Добавляем стиль для анимации плавного появления */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/* Применяем анимацию для class fadeInAnimation */
.fadeInAnimation {
  animation: fadeIn 0.5s ease-in-out; /* Настраиваем анимацию появления */
}
/* Применяем анимацию для class fadeInAnimation */
.fadeOutAnimation {
  animation: fadeOut 0.5s ease-in-out; /* Настраиваем анимацию появления */
}


.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
}


#searchResults {
    top: 60px;
    z-index: -1;
    min-width: 80%;
    max-width: 80%;
    border: 1px solid #fffaaa;
    position: absolute;
    display: flex;
    width: fit-content;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 1px solid #cfc3c352;
    border-radius: 10px;
    box-shadow: 0px 3px 10px 2px rgb(229 229 229);
}

#searchResults a {
    transition: ease-in-out all 0.5s;
    margin-left: 30px;
    min-width: 80%;
    max-width: 80%;
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #cfc3c352;
    z-index: 9;
}
