<!DOCTYPE html>
<html>
<head>
    <title>Админка - Категории</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Админка - Категории товаров</h1>

    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li">
                <a class="nav-a" href="/">Главная</a>
            </li>
            <li class="nav-li-active">
                <a class="nav-a" href="/">Админка</a>
            </li>
            <li class="nav-li"><a class="nav-a" href="/">О Нас / связаться с нами</a></li>
            <li class="nav-li"><a class="nav-a" href="/">Доставка</a></li>
            <li class="nav-li"><a class="nav-a" href="/">Корзина</a></li>
            <!-- Можно добавить другие разделы сайта -->
        </ul>
    </nav>

    <form method="POST" action="{{ url_for('admin_categories') }}">
        <label for="category_name">Название категории:</label>
        <input type="text" id="category_name" name="category_name" placeholder="Введите название категории" required>
        <button type="submit">Добавить</button>
    </form>
    <ul>
        {% for category in categories %}
            <li>{{ category }}</li>
        {% endfor %}
    </ul>
</body>
</html>