<!DOCTYPE html>
<html>
<head>
    <title>admin panel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/search.css') }}">-->
<!--    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product.css') }}">-->
<!--    <script src="{{ url_for('static', filename='js/script.js') }}"></script>-->
</head>
<body>
<div class="top-panel">
    <nav class="nav-bar">
        <ul class="nav-ul">
            <li class="nav-li-active">
                <a class="nav-a" href="{{url_for('admin')}}">АДМИНКА</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('index')}}">Главная</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('about')}}">О Нас / связаться с нами</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('delivery')}}">Доставка</a>
            </li>
            <li class="nav-li">
                <a class="nav-a" href="{{url_for('cart')}}">Корзина</a>
            </li>
        </ul>
    </nav>
</div>
<main>
<div class="categories">
    <div class="category-block">
        <div class="about">
            <div class="category-name">
                <input type="text" name="category-name" id="category-name" value="CATEGORY">
            </div>
        </div>
        <div class="manage-buttons">
            <input type="button" value="remove"/>
        </div>
    </div>

</div>
</main>
</body>
</html>